<nav>
  <div id="nav-logo">
    <span class="entypo star"></span>
    <%= link_to "Nestor Castillo", "/", :class => 'blog-title' %>
    <span class="entypo star"></span>
  </div>
  <ul>
    <li>
      <span class="entypo user"></span>
      <%= link_to "About", "/about.html", :class => 'about-title' %>
    </li>
    <li>
      <span class="entypo folder"></span>
      <%= link_to "Projects", "/projects.html", :class => 'project-title' %>
    </li>
    <li>
      <span class="entypo megaphone"></span>
      <%= link_to "Speaking", "/speaking.html", :class => 'project-title' %>
    </li>
    <li>
      <span class="entypo open-book"></span>
      <%= link_to "Books", "/books.html", :class => 'project-title' %>
    </li>
  </ul>
</nav>
